 <div class="card">
    <img src="{{ appareil.imageUrl }}" class="card-img-top" alt="{{ appareil.designation }}"  width="250" height="250">
    <div class="card-body">
        <h5 class="card-title text-center">{{ appareil.designation }}</h5>
        <p class="card-text text-center">{{ appareil.type }}</p>
        <div class="star text-center">
            <i class="fa-solid fa-star checked"></i>
            <i class="fa-solid fa-star checked"></i>
            <i class="fa-solid fa-star checked"></i>
            <i class="fa-solid fa-star checked"></i>
            <i class="fa-solid fa-star checked"></i>
        </div>
        <div class="d-flex justify-content-between align-items-center">
            <h5 class="card-price">{{ appareil.prixUnit }} $</h5> 
            <a href="#" class="btn btn-outline-primary"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
    </div>
</div>