{% extends 'base.html.twig' %}

{% block title %}Appareil {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/style2.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
     <style>
        /* Style pour le contenu de la modal */
.modal-body form {
    padding: 20px;
}

.modal-body form label {
    font-weight: bold;
}

.modal-body form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

/* Style pour le bouton "Back to list" et "Edit" dans le footer */
.modal-footer .btn-secondary,
.modal-footer .btn-primary {
    color: #fff;
}

/* Style pour la modal elle-même */


/* Style pour le titre de la modal */
.modal.fada .modal-title {
    color: #343a40;
    font-weight: bold;
     text-align: center; /
}

/* Style pour le bouton de fermeture */
.modal.fada .btn-close {
    color: #000;
}

/* Style pour le bouton "Close" dans le footer */
.modal.fada .modal-footer .btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

/* Style pour le bouton "Edit" dans le footer */
.modal.fada .modal-footer .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}
#m{background-color:skyblue;}
#btnSearch{
    background-color:#1DC4E7;
    border-radius: 20px;
}
.cc {
    width: 1300px;
    height: 700px;
    padding-right: 20px;
    padding-top: 15px;
}
    </style>

{% endblock %}

{% block body %}
<div>
    {% include 'admin/admin.html.twig' %}

</div>
<div class="aa">

</div>
<div class="bb">
    <div class="row">
                 <div class="col-12">
                <div class="row">
                <div class="col-md-6 text-left">
                        <a href="{{ path('app_appareil_new') }}" class="btn btn-primary"><i class="bi bi-plus-circle"></i> Create new</a>
                    </div>
                    <div class="col-md-6 text-right">
                        <form method="get" action="{{ path('app_appareil_index') }}" class="form-inline">
                            <div class="input-group">
                                <input type="text" class="form-control mr-2 rounded" placeholder="Search by type" name="type" value="{{ app.request.query.get('type') }}">&nbsp;
                                <select class="form-control mr-2 rounded" name="nom">
                                    <option value="">Select fabricant</option>
                                    {% for fabricant in fabricants %}
                                        <option value="{{ fabricant.nom }}">{{ fabricant.nom }}</option>
                                    {% endfor %}
                                </select>&nbsp;
                                <button class="btn btn-primary" type="submit" id="btnSearch"><i class="bi bi-search"></i> Search</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            </div>
            <div class="row">
                <div class="col-12"> 
                    <div class="cc">
                        <table class="table table-striped table-hover mt-3 text-center table-bordered">
                            <thead>
                                <tr>
                                    <th id="col">Code</th>
                                    <th id="col">Image</th>
                                    <th id="col">Designation</th>
                                    <th id="col">Type</th>
                                    <th id="col">PrixUnit</th>
                                    <th id="col">QteVendue</th>
                                    <th id="col">DateSortie</th>
                                    <th id="col">Famille</th>
                                    <th id="col">Nom</th>
                                    <th id="col">actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for appareil in appareils %}
                                    <tr>
                                        <td>{{ appareil.code }}</td>
                                         <td><img src="{{appareil.imageUrl }}" alt="systemeImage" width="50"  height="50"></td>
                                        <td>{{ appareil.designation }}</td>
                                        <td>{{ appareil.type }}</td>
                                        <td>{{ appareil.prixUnit }}</td>
                                        <td>{{ appareil.qteVendue }}</td>
                                        <td>{{ appareil.dateSortie|date('Y-m-d') }}</td>
                                        <td>{{ appareil.idos.famille }}</td>
                                        <td>{{ appareil.idfab.nom}}</td>
                                        <td>
                                             <div class="btn-group" role="group">
                                                <button class="btn btn-Dark" data-bs-toggle="modal" data-bs-target="#lireData"><i class="fa-solid fa-eye"></i></button>
                                                <div class="modal fada" id="lireData">
                                                <div class="modal-dialog ">
                                                        <div class="modal-content" id="m">
                                                            <div class="modal-header">
                                                                <h4 class="modal-title">Vue Appareil</h4>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form action="#" id="myForm">
                                                                    <div class="inputField">
                                                                        <div> 
                                                                            <label for="code"> Code:</label>
                                                                            <input type="number" value="{{ appareil.id }}" id="code">
                                                                        </div>

                                                                        <div> 
                                                                            <label for="designation"> Designation:</label>
                                                                            <input type="text"value="{{ appareil.designation }}" id="designation">
                                                                        </div>
                                                                        <div> 
                                                                            <label for="type"> Type:</label>
                                                                            <input type="text" value="{{ appareil.type }}" id="type">
                                                                        </div>
                                                                        <div> 
                                                                            <label for="prixUnit"> PrixUnit:</label>
                                                                            <input type="number" value="{{ appareil.prixUnit }}" id="prixUnit">
                                                                        </div>

                                                                        <div> 
                                                                            <label for="qteVendue"> QuantiteVendue:</label>
                                                                            <input type="number" value="{{ appareil.qteVendue }}" id="qteVendue">
                                                                        </div>
                                                                        <div> 
                                                                            <label for="dateSortie"> DateSortie:</label>
                                                                            <input type="date" value="{{ appareil.dateSortie|date('Y-m-d') }}" id="dateSortie">
                                                                        </div>

                                                                        <div> 
                                                                            <label for="famille"> Famille:</label>
                                                                            <input type="text" value="{{ appareil.idos.famille }}" id="famille">
                                                                        </div>
                                                                        <div> 
                                                                            <label for="nom"> NomFabricant:</label>
                                                                            <input type="text" value="{{ appareil.idfab.nom }}" id="nom">
                                                                        </div>   
                                                                        <div> 
                                                                            <label for="nom"> ImageUrl:</label>
                                                                            <input type="text" value="{{ appareil.imageUrl }}" id="nom">
                                                                        </div> 
                                                                    </div>
                                                                </form>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <a href="{{ path('app_appareil_index') }}" class="btn btn-secondary"> <sub><i class="bi bi-arrow-return-left"></i></sub> Back to list</a>
                                                                <a href="{{ path('app_appareil_edit', {'id': appareil.id}) }}" class="btn btn-primary"> <i class="fa-solid fa-circle-plus"></i> Edit</a>
                                                            </div>
                                                        </div>   
                                                    </div>
                                                </div>&nbsp;
                                                <a href="{{ path('app_appareil_edit', {'id': appareil.id}) }}" class="btn btn-info"><i class="bi bi-pencil-square"></i></a> &nbsp;
                                                <form method="post" action="{{ path('app_appareil_delete', {'id': appareil.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                                    <input type="hidden" name="_method" value="DELETE">
                                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ appareil.id) }}">
                                                    <button type="submit" class="btn btn-secondary"><i class="bi bi-trash"></i></button>
                                                </form>
                                            </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="8">no records found</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </div>
</div>
{% endblock %}
